#banner{
    width: 100%;
    margin-top: 50px;
    position: relative;
    text-align: center;
    
}
#banner img{

    width: 100%;
    height: 100%;
    margin-top:0px;
    border-bottom: 2px solid rgb(84, 83, 83);
    /* object-position: center; */
    /* object-fit:unset; */
}
@supports(object-fit: cover){
    #banner img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
#banner .contenedor{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    text-shadow: 2px 2px black;
    padding: 10px;
    /* background: rgba(0,0,0,0.5); */
    text-align: center !important;
    margin: auto;
}
#banner .contenedor img{
    width: 40px;
    vertical-align: text-bottom;
    height: auto;
    padding-right: 5px;
    margin-bottom: 3px;
}
#banner h2{
    font-size: 1.6em;
    padding-bottom: 10px;
    vertical-align: text-bottom;
    font-style: italic;
    text-align: center;
    display: none;
}
#banner a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 2px 2px black;
}
#banner p{
    font-weight: bold;
    text-align: center;
}
#banner a:hover{    /* hand over */
    background: rgba(255, 255, 255, 0.2);
}
@media(min-width: 500px){    /* media queries */ 
    #banner h2{
        font-size: 2em;
    }
    
}
@media(min-width: 750px){
    #banner{
        height: 400px;
        overflow: hidden;
        margin-top: 50px;
    }

}
@media(min-width: 1000px){
    #banner{
        height: 650px;
        max-width: 1600px;
        margin: 50px auto 20px auto;
    }
}
