#conceptos .contenedor{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
}
#conceptos .flechitader{
    width: 18px;
    vertical-align: middle;
    padding-right: 5px;
    color: darkgreen;
}
#conceptos p{
    text-align: center;
}
#conceptos a{
    color: blue;
}
#conceptos article{
    margin: 15px;
    max-width: 280px;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 0px 0px 15px #888888;
}
#conceptos img{
    width: 100%;
}
#conceptos video{
    max-width: 280px;
}
#conceptos h3, #conceptos h4{
    text-align: center;
}

@media(min-width: 650px){
    #conceptos video{
        max-width: 375px;
    }   
}