/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url(header.css);
@import url(banner.css);
@import url(conceptos.css);
@import url(info.css);
@import url(javascript.css);
@import url(footer.css);
@import url(basededatos.css);
@import url(software.css);
@import url(rrll.css);

/* @font-face {
font-family: 'Segoe UI Regular';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;   
    -moz-box-sizing: border-box;
}

body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-image: url(../imagenes/fondoabstracto.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

/* main a{
    color: darkgreen;
    text-decoration: none;
} */

.contenedor{
    width: 98%;
    margin: auto;
}
section{
    margin-bottom: 20px;
}
#bienvenidos{
    text-align: center;
    
}
#bienvenidos h2{
    text-align: center;
}
hr .linea{
    width: 100%;
    height: 1px;
    color: black;
}
#evamodulo{
     text-align: center;
}
#evamodulo h3{
    padding-top: 10px;
    text-align: center;
}
#evamodulo a{
    font-weight: bolder;
    color: black;
}
#evamodulopoo{
    text-align: center;
}
#evamodulopoo .contenedor{
    display: block;
    text-align: center;
    
}
#evamodulopoo h3{
    padding-top: 10px;
    text-align: center;
}
#evamodulopoo a{
    font-weight: bolder;
}
#evamodulobbdd{
    text-align: center;
}
#evamodulobbdd .contenedor{
    display: block;
    text-align: center;
    
}
#evamodulobbdd h3{
    padding-top: 10px;
    text-align: center;
}
#evamodulobbdd img{
    width: 400px;
}
#evamodulobbdd a{
    font-weight: bolder;
}

#evamodulosoft{
    text-align: center;
}
#evamodulosoft .contenedor{
    display: block;
    text-align: center;
    
}
#evamodulosoft h3{
    padding-top: 10px;
    text-align: center;
}
#evamodulosoft a{
    font-weight: bolder;
}
#evamodulorrll{
    text-align: center;
    color: black;
}
#evamodulorrll .contenedor{
    display: block;
    text-align: center;
    
}
#evamodulorrll h3{
    padding-top: 10px;
    text-align: center;
}
#evamodulorrll img{
    width: 400px;
}
#evamodulorrll a{
    font-weight: bolder;
    color: black !important;
}
#relaciones{
    position: fixed;
    background: white;
    right:0;
    top: 100px;
    width: 40px;
    height: 180px;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;    
    border-bottom: 1px solid gray;

}
#slack{
    position: fixed;
    background: white;
    right:0;
    top: 300px;
    width: 40px;
    height: 46px;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;    
    border-bottom: 1px solid gray;

}
#relaciones img{
    padding-left: 15px;
    padding-top: 10px;
}
#slack img{
    padding-top: 8px;
    margin-left: -4px;
    width: 50px;
}
video#defondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    
}

@media(min-width: 1024px){
    .contenedor{
        width: 1000px;
    }
}

