footer{
    background: black;
    color: #fff;
}
footer .contenedor{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 10px;
}
.copy{
    font-size: 1.2em;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.sociales a{
    text-decoration: none;
/*    color: #333333;*/
    color: white;
}
@media(min-width: 800px){
    .sociales{
        width: auto;
        padding-top: 6px;
    }
    .copy{
        padding-top: 4px;       
    }
    footer .contenedor{
        justify-content: space-around;
    }
}
@media(min-width: 1024px){
    footer .contenedor{
        justify-content: space-between;
    }   
}