header{
    width: 100%;
    height: 50px;
    background: black;
    color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;  
}
header img{
    float: left;
    width: 35px;
    padding-top: 7px;
}
header h1{
    font-family: 'Segoe UI Regular';
    float: left;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 1em;
    color: white;
}
#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .85);
    border-top: 1px solid white;
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 1px black; 
    padding: 15px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu a:hover{
    background: rgba(255, 255, 255, 0.3);
}
#menu-bar:checked ~.menu{
    transform: translateX(0%);    
}
@media(min-width: 600px){
    header h1{
        font-size: 1.5em;
        padding-top: 8px;
    }

}
@media(min-width: 1030px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background: transparent;
        border: none;
    }
    header label{
        display: none;
    }
    header h1{
        padding-top: 1px;
        font-size: 2em;
    }
    .menu a{
        border: 1px solid white;
        border-radius: 5px;
        margin-right: 5px;
        margin-top: 10px;
        padding: 5px 10px;
        border-color: rgba(255,255,255,0.5);
    }
}