#info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

#info .contenedor {
    margin: auto;
}

#info article {
    max-width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid white;
    margin: 5px;
    /* justify-content: space-;     */
}


/* #info .contenedor{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
} */

#info .imagen {
    margin: 5px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info .texto {
    float: left;
    margin-left: 20px;
    width: calc(100% - 130px);
}

#info .video {
    display: inline-block;
}

.video p {
    text-align: center;
    margin-bottom: 5px;
}

#info iframe {
    max-width: 100%;
}

#info li {
    color: orange;
    margin: 5px 0;
}

#info .links {
    color: wheat;
    padding: 5px;
}

#info h4 a{
    color: blue;
    text-decoration: underline;
}

#info h4 img {
    width: 30px;
    margin-bottom: -9px;
}


/* #info .texto{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    
} */


/* #info .texto a{
    display: inline-block;
} */

#info #imgrupo {
    border-radius: 5%;
    /* border: 1px solid white; */
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#info .flechitaderw {
    width: 18px;
    vertical-align: middle;
    padding-right: 5px;
    color: white;
}


/* #info p{
    text-align: center;
} */

#info a {
    color: white;
    text-decoration-line: none;
}

#info .codigos {
    display: inline-block;
    /* background-color: red; */
    width: 220px;
}

#info .codigos img {
    width: 40px;
    margin: 5px;
}

#info h4 {
    border-bottom: 1px solid white;
    width: fit-content;
}


/* #info article{
    margin: 15px;
    max-width: 280px;
    overflow: hidden;
    text-align: center;
} */

#info img {
    width: 100%;
}

#info video {
    max-width: 280px;
}

h2,
h3 {
    text-align: center;
}

#info .emoji {
    float: left;
    width: 38px;
    margin: 0 2px 5px 5px;
}

#info .emoji1 {
    margin-top: 1px;
    float: left;
    vertical-align: top;
    width: 39px;
    height: 36px;
}

@media(min-width: 850px) {
    #info .codigos {
        width: 80px;
        text-align: center;
        vertical-align: top;
    }
}