#javascript {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding-top: 15px;
}
#javascript p{
    text-align: center;
    margin-bottom: 15px;
}
#javascript .contenedor {
    margin: auto;
}

#javascript article {
    max-width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid white;
    margin: 5px;
    /* justify-content: space-;     */
}


/* #javascript .contenedor{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
} */

#javascript .imagen {
    margin: 5px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#javascript .texto {
    float: left;
    margin-left: 20px;
    width: calc(100% - 130px);
}

#javascript .video {
    display: inline-block;
}

.video p {
    text-align: center;
    margin-bottom: 5px;
}

#javascript iframe {
    max-width: 100%;
}

#javascript li {
    color: orange;
    margin: 5px 0;
}

#javascript .links {
    color: wheat;
    padding: 5px;
}

#javascript h4 a{
    color: blue;
    text-decoration: underline;
}

#javascript h4 img {
    width: 30px;
    margin-bottom: -9px;
}


/* #javascript .texto{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    
} */


/* #javascript .texto a{
    display: inline-block;
} */

#javascript #imgrupo {
    border-radius: 5%;
    /* border: 1px solid white; */
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#javascript .flechitaderw {
    width: 18px;
    vertical-align: middle;
    padding-right: 5px;
    color: white;
}


/* #javascript p{
    text-align: center;
} */

#javascript a {
    color: white;
    text-decoration-line: none;
}

#javascript .codigos {
    display: inline-block;
    /* background-color: red; */
    width: 220px;
}

#javascript .codigos img {
    width: 40px;
    margin: 5px;
}

#javascript h4 {
    border-bottom: 1px solid white;
    width: fit-content;
}


/* #javascript article{
    margin: 15px;
    max-width: 280px;
    overflow: hidden;
    text-align: center;
} */

#javascript img {
    width: 100%;
}

#javascript video {
    max-width: 280px;
}

h2,
h3 {
    text-align: center;
}

#javascript .emoji {
    float: left;
    width: 38px;
    margin: 0 2px 5px 5px;
}

#javascript .emoji1 {
    margin-top: 1px;
    float: left;
    vertical-align: top;
    width: 39px;
    height: 36px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    80%{
        opacity: .5;
    }
}
#vacas{
    display: inline-block;
    color:lawngreen;
    animation: blink 2s linear infinite;
    border: none !important;
}

@media(min-width: 850px) {
    #javascript .codigos {
        width: 80px;
        text-align: center;
        vertical-align: top;
    }
}