#rrll{
    /* background-color: rgba(0,0,0,0.5); */
    color: black;
    padding-top:15px;
}
#rrll .contenedor{
    margin: auto;
}
#rrll article{
    max-width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 5px;
    /* justify-content: space-;     */
}
/* #rrll .contenedor{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
} */

#rrll .imagen{
    margin: 5px;
    float: left;

}
#rrll .texto{
    float: left;
    margin-left: 20px;
    width: calc(100% - 130px);
    color: black;

}

/* #rrll .texto{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    
} */
/* #rrll .texto a{
    display: inline-block;
} */
#rrll #imgrupo{
    border-radius: 5%;
    /* border: 1px solid white; */
    width: 100px;
    height: 100px;
    overflow: hidden;
}
#rrll .flechitaderw{
    width: 18px;
    vertical-align: middle;
    padding-right: 5px;
    color: black;
}
/* #rrll p{
    text-align: center;
} */
#rrll .texto a{
    color: blue;
    text-decoration-line: none;
}
#rrll h4{
    border-bottom: 1px solid black;
    width: fit-content;

}
/* #rrll article{
    margin: 15px;
    max-width: 280px;
    overflow: hidden;
    text-align: center;
} */

#rrll img{
    width: 100%;
}
#rrll video{
    max-width: 280px;
}
h2, h3{
    text-align: center;
}
